<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../node_modules/purecss/build/pure.css">

  <!-- Librarys -->
  <script>
    // Required above script imports
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>

  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="../node_modules/sightglass/index.js"></script>
  <script src="../node_modules/rivets/dist/rivets.js"></script>

  <script>
    // Required after script imports
    if (window.module) module = window.module;
  </script>
</head>

<body>
  <div>
      <nav class="pure-g" style="background: red;">
        <h2 class="pure-u-1-5">Test</h2>
        <form class="pure-form pure-u-4-5">
          <fieldset>
            <input id="Username" type="text" placeholder="Your Username" value="TestUser" />
            <input id="Password" type="text" placeholder="Your Password" value="" />
            <input id="URL" type="url" placeholder="URL e.g. 127.0.0.1" value="127.0.0.1" />
            <input id="Port" type="number" placeholder="Port e.g. 64738" value="64738" />
            <button class="pure-button pure-button-primary" id="ConnectButton">Connect</button>
          </fieldset>
        </form>
      </nav>
    <div class="pure-g">
      <div class="pure-u-1-3">
      </div>
      <form class="pure-form pure-form-stacked pure-u-1-3">
        <p>Ferugi: How is it going?</p>
        <input class="pure-input-1" id="Chat" type="text" placeholder="Chat..." />
        </footer>
      </form>
      <div class="pure-u-1-3">
        <ul class="pure-menu-list" id="ChannelList">
        </ul>
      </div>
    </div>
  </div>
  <div style="display: none;" id="ChannelTemplate">
    <li>
      <a>{ channel.name }</a>
      <ul>
        <li rv-each-user="channel.users">
          <a>{ user.name }</a>
        </li>
        <channel-tag rv-each-channel="channel.children" channel="channel"></channel-tag>
      </ul>
    </li>
  </div>
  <script>
    require('./index')
  </script>
</body>
</html>